[alias]
	co = checkout
	br = branch
	ci = commit
	st = status

[color]
	ui = true

[fetch]
	prune = true

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[github]
	user = dgreif

[include]
	path = /etc/gitconfig

[init]
	defaultBranch = main

[pull]
	rebase = true

[push]
	default = current

[user]
	name = Dusty Greif
	email = dgreif@github.com
[core]
	preloadindex = true
	fscache = true
[gc]
	auto = 256
[oh-my-zsh]
	hide-status = 1
	hide-dirty = 1
